
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


            <div class="row">
                <div class="col-md-12">
                    <div class="content-box-large">
                        <div class="panel-heading">
                            <div class="panel-title" style="text-align:right;"></div>
                        </div>
                        <div class="panel-body" style="text-align:right;max-height:325px;min-height:325px;">
                            <div class="alert alert-heading alert-dismissable fade in">
                                <h2 style="color:cornflowerblue;">به پنل کاربری خوش آمدید</h2>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>



